@model IEnumerable<string>

@{ 
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalNav"]
        ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm" : null;
}

<div class="@wrapperClasses" style="width: fit-content">
    @Html.ActionLink("Домой", "List", "Game", null,
new { 
    @class = "w-100 " + (horizontal ? "btn btn-sm btn-outline-secondary":
                            "btn btn-block btn-lg btn-outline-secondary"),
    style = "margin-bottom: 5px;"
})

    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
   {
       controller = "Game",
       action = "List",
       category = link,
       page = 1
   },
        new
        {
            @class = "w-100 " + (horizontal ? "btn btn-sm btn-outline-secondary" :
"btn btn-block btn-lg btn-outline-secondary" +
            (link == ViewBag.SelectedCategory ? " btn-primary" : "")),
            style = "margin-bottom: 5px;"
        })
    }
</div>
