@model Domain.Entities.Cart

<div class="ms-auto d-sm-none">
    <a href="@Url.Action("Index", "Cart", 
            new {returnUrl = Request.Url.PathAndQuery})"
       class="btn btn-info">
        <span class="bi bi-basket"></span>
    </a>
</div>

<div class="navbar-text ms-auto">
    @Html.ActionLink(" Корзина", "Index", "Cart",
new { returnUrl = Request.Url.PathAndQuery },
new { @class = "bi bi-basket btn btn-outline-warning" })
    @Model.Lines.Sum(x => x.Quantity) игр,
    @Model.ComputeTotalPrice().ToString("# руб")
</div>
