@using WebUI.Models
@model GamesListViewModel

@{
    ViewBag.Title = "Игры";
}

    @foreach (var p in Model.Games)
    {
        @Html.Partial("GameSummary", p)
    }
<div class="btn-group float-end">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new {page = x }))
</div>